[package]
name = "texlab"
description = "LaTeX Language Server"
version = "4.0.0"
license = "GPL-3.0"
readme = "README.md"
authors = [
    "Eric Förster <eric.foerster@outlook.com>",
    "Patrick Förster <patrick.foerster@outlook.de>",
]
edition = "2021"
rust-version = "1.58.1"
homepage = "https://github.com/latex-lsp/texlab"
repository = "https://github.com/latex-lsp/texlab"
documentation = "https://github.com/latex-lsp/texlab"
keywords = ["lsp", "server", "latex", "bibtex"]
categories = ["development-tools"]
exclude = [
    ".gitattributes",
    ".gitignore",
    ".github/**",
    "tests/it/**",
    "*.snap",
    "texlab.1",
    "texlab.pdf",
    "texlab.tex",
]

[[bin]]
name = "texlab"
test = false

[lib]
doctest = false

[features]
default = ["completion"]
completion = ["fuzzy-matcher"]

[dependencies]
anyhow = "1.0.57"
byteorder = "1.4.3"
chrono = { version = "0.4.19", default-features = false, features = ["std"] }
clap = { version = "3.1.17", features = [
    "std",
    "derive",
], default-features = false }
crossbeam-channel = "0.5.4"
dashmap = "~5.2.0"
derive_more = "0.99.17"
encoding_rs = "0.8.31"
encoding_rs_io = "0.1.7"
fern = "0.6"
flate2 = "1.0.24"
fuzzy-matcher = { version = "0.3.7", optional = true }
human_name = { version = "1.0.3", default-features = false }
isocountry = "0.3.2"
itertools = "0.10.1"
log = "0.4.17"
logos = "0.12.0"
lsp-server = "0.6.0"
lsp-types = "0.93.0"
multimap = "0.8.3"
once_cell = "1.10.0"
petgraph = "0.6.2"
regex = "1.5.5"
rowan = "0.15.4"
rustc-hash = "1.1.0"
serde = "1.0.137"
serde_json = "1.0.81"
serde_repr = "0.1.8"
smol_str = { version = "0.1.23", features = ["serde"] }
strum = { version = "0.24.0", features = ["derive"] }
tempfile = "3.3.0"
threadpool = "1.8.1"
titlecase = "1.1.0"
unicode-normalization = "0.1.19"
url = { version = "2.2.2", features = ["serde"] }
uuid = { version = "1.0.0", features = ["v4"] }

[dev-dependencies]
assert_unordered = "0.3.5"
criterion = { version = "0.3.5" }
insta = { version = "1.14.0", features = ["backtrace", "redactions"] }
jod-thread = "0.1.2"
typed-builder = "0.10.0"
unindent = "0.1.9"

[profile.release]
lto = "fat"

[profile.bench]
lto = "thin"

[[bench]]
name = "bench_main"
path = "benches/bench_main.rs"
harness = false
