[package]
name = "texlab"
description = "LaTeX Language Server"
version = "1.8.0"
license = "GPLv3"
readme = "README.md"
authors = [
    "Eric Förster <efoerster@users.noreply.github.com>", 
    "Patrick Förster <pfoerster@users.noreply.github.com>"]
edition = "2018"

[workspace]
members = [
    "crates/bibutils",
    "crates/bibutils_sys",
    "crates/futures_boxed",
    "crates/jsonrpc", 
    "crates/jsonrpc_derive",
    "crates/tex"]

[dependencies]
base64 = "0.11.0"
bibutils = { path = "crates/bibutils" }
bytes = "0.4.12"
citeproc = { git = "https://github.com/cormacrelf/citeproc-rs", rev = "796ea0382392ae1befdc39f21162ed83b640ac29" }
citeproc-db = { git = "https://github.com/cormacrelf/citeproc-rs", rev = "796ea0382392ae1befdc39f21162ed83b640ac29" }
citeproc-io = { git = "https://github.com/cormacrelf/citeproc-rs", rev = "796ea0382392ae1befdc39f21162ed83b640ac29" }
clap = "2.33"
csl = { git = "https://github.com/cormacrelf/citeproc-rs", rev = "796ea0382392ae1befdc39f21162ed83b640ac29" }
fnv = "1.0.3"
futures-boxed = { path = "crates/futures_boxed" }
futures-preview = "0.3.0-alpha.18"
html2md = "0.2.9"
image = "0.22.3"
itertools = "0.8.2"
jsonrpc = { path = "crates/jsonrpc" }
jsonrpc-derive = { path = "crates/jsonrpc_derive" }
lalrpop-util = "0.17.2"
log = "0.4.6"
lsp-types = { version = "0.61.0", features = ["proposed"] }
nom = "5.0.1"
once_cell = "1.2.0"
path-clean = "0.1.0"
petgraph = "0.4.13"
regex = "1.3.1"
serde = { version = "1.0.103", features = ["derive", "rc"] }
serde_json = "1.0.42"
serde_repr = "0.1"
stderrlog = "0.4.1"
tempfile = "3"
tex = { path = "crates/tex" }
tokio = "0.2.0-alpha.6"
tokio-net = { version = "0.2.0-alpha.6", features = ["process"]}
uuid = { version = "0.8", features = ["v4"] }
url = "2.0.0"
url_serde = "0.2.0"
walkdir = "2"

[dev-dependencies]
copy_dir = "0.1.2"
indoc = "0.3.4"

[build-dependencies]
lalrpop = "0.17.2"

[profile.release]
lto = true
