[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "5.19.0"
license = "GPL-3.0"
authors = [
    "Eric Förster <eric.foerster@outlook.com>",
    "Patrick Förster <patrick.foerster@outlook.de>",
]
edition = "2021"
rust-version = "1.75"

[workspace.dependencies]
anyhow = "1.0.87"
criterion = "0.5.1"
crossbeam-channel = "0.5.13"
expect-test = "1.5.0"
itertools = "0.13.0"
log = "0.4.22"
notify = "6.1.1"
once_cell = "1.19.0"
regex = "1.10.6"
rowan = "0.15.15"
rustc-hash = "2.0.0"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.127"
tempfile = "3.12.0"
titlecase = "3.3.0"
unicode-normalization = "0.1.23"
url = "2.5.0"

[profile.release]
lto = "thin"
incremental = true

[profile.bench]
lto = "thin"
incremental = true
