[package]
name = "texlab"
description = "LaTeX Language Server"
version = "3.3.2"
license = "GPL-3.0"
readme = "README.md"
authors = [
    "Eric Förster <eric.foerster@outlook.com>",
    "Patrick Förster <patrick.foerster@outlook.de>",
]
edition = "2021"
rust-version = "1.56.0"
homepage = "https://github.com/latex-lsp/texlab"

[lib]
doctest = false

[features]
default = ["citation", "completion"]
completion = ["fuzzy-matcher"]
citation = [
    "bibutils-sys",
    "citeproc",
    "citeproc-db",
    "citeproc-io",
    "csl",
    "fnv",
    "html2md",
]

[dependencies]
anyhow = "1.0.56"
bibutils-sys = { version = "0.1.1", optional = true }
byteorder = "1.4.3"
cancellation = "0.1"
crossbeam-channel = "0.5.4"
dashmap = "5.2.0"
derive_more = "0.99.17"
encoding_rs = "0.8.30"
encoding_rs_io = "0.1.7"
flate2 = "1.0.22"
fern = "0.6"
fnv = { version = "1.0", optional = true }
fuzzy-matcher = { version = "0.3.7", optional = true }
html2md = { version = "0.2.13", optional = true }
itertools = "0.10.1"
log = "0.4.16"
logos = "0.12.0"
lsp-server = "0.5"
lsp-types = "0.92.1"
multimap = "0.8.3"
once_cell = "1.10.0"
petgraph = "0.6.0"
rayon = "1.5.1"
regex = "1.5.5"
rowan = "0.15.4"
rustc-hash = "1.1.0"
serde = "1.0.136"
serde_json = "1.0.79"
serde_repr = "0.1.7"
smol_str = { version = "0.1.21", features = ["serde"] }
tempfile = "3.3.0"
threadpool = "1.8.1"
titlecase = "1.1.0"
url = "2.2.2"
uuid = { version = "0.8.2", features = ["v4"] }

[dependencies.clap]
version = "3.1.9"
features = ["std", "derive"]
default-features = false

[dependencies.citeproc]
git = "https://github.com/zotero/citeproc-rs"
rev = "2ab195a1e6f84f0ff284813ece61dc62096abbfe"
optional = true

[dependencies.citeproc-db]
git = "https://github.com/zotero/citeproc-rs"
rev = "2ab195a1e6f84f0ff284813ece61dc62096abbfe"
optional = true

[dependencies.citeproc-io]
git = "https://github.com/zotero/citeproc-rs"
rev = "2ab195a1e6f84f0ff284813ece61dc62096abbfe"
optional = true

[dependencies.csl]
git = "https://github.com/zotero/citeproc-rs"
rev = "2ab195a1e6f84f0ff284813ece61dc62096abbfe"
optional = true

[dev-dependencies]
criterion = { version = "0.3.5" }
indoc = "1.0.4"
insta = { version = "1.14.0", features = ["backtrace"] }
typed-builder = "0.10.0"
unindent = "0.1.8"

[profile.release]
lto = "fat"

[profile.bench]
lto = "thin"

[[bench]]
name = "bench_main"
path = "benches/bench_main.rs"
harness = false
