[package]
name = "texlab"
description = "LaTeX Language Server"
version = "4.3.0"
license = "GPL-3.0"
readme = "README.md"
authors = [
  "Eric Förster <eric.foerster@outlook.com>",
  "Patrick Förster <patrick.foerster@outlook.de>",
]
edition = "2021"
rust-version = "1.60"
homepage = "https://github.com/latex-lsp/texlab"
repository = "https://github.com/latex-lsp/texlab"
documentation = "https://github.com/latex-lsp/texlab"
keywords = ["lsp", "server", "latex", "bibtex"]
categories = ["development-tools"]
exclude = [
  ".gitattributes",
  ".gitignore",
  ".github/**",
  "tests/it/**",
  "*.snap",
  "texlab.1",
  "texlab.pdf",
  "texlab.tex",
]

[[bin]]
name = "texlab"
test = false

[lib]
doctest = false

[dependencies]
anyhow = "1.0.65"
byteorder = "1.4.3"
chrono = { version = "0.4.22", default-features = false, features = ["std"] }
clap = { version = "4.0.16", features = ["derive"] }
crossbeam-channel = "0.5.6"
dashmap = "5.4.0"
encoding_rs = "0.8.31"
encoding_rs_io = "0.1.7"
fern = "0.6.1"
flate2 = "1.0.24"
fuzzy-matcher = { version = "0.3.7" }
human_name = { version = "2.0.1", default-features = false }
isocountry = "0.3.2"
itertools = "0.10.5"
log = "0.4.17"
logos = "0.12.1"
lsp-server = "0.6.0"
lsp-types = { version = "0.93.1", features = ["proposed"] }
notify = "5.0.0"
once_cell = "1.15.0"
regex = "1.6.0"
rowan = "0.15.10"
rustc-hash = "1.1.0"
serde = "1.0.145"
serde_json = "1.0.85"
serde_millis = "0.1.1"
serde_regex = "1.1.0"
serde_repr = "0.1.9"
smol_str = { version = "0.1.23", features = ["serde"] }
strum = { version = "0.24.1", features = ["derive"] }
tempfile = "3.3.0"
threadpool = "1.8.1"
titlecase = "2.2.0"
unicode-normalization = "0.1.22"
url = { version = "2.3.1", features = ["serde"] }
uuid = { version = "1.1.2", features = ["v4"] }

[dependencies.derive_more]
version = "0.99.17"
default-features = false
features = ["from", "display"]

[dependencies.petgraph]
version = "0.6.2"
default_features = false
features = ["graphmap"]

[dev-dependencies]
assert_unordered = "0.3.5"
criterion = { version = "0.4.0" }
env_logger = "0.9.1"
insta = { version = "1.21.0", features = ["glob", "redactions", "json"] }
jod-thread = "0.1.2"

[profile.release]
lto = "thin"
incremental = true

[profile.bench]
lto = "thin"

[[bench]]
name = "bench_main"
path = "benches/bench_main.rs"
harness = false
