[package]
name = "texlab"
description = "LaTeX Language Server"
version = "5.9.2"
license.workspace = true
readme = "README.md"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
homepage = "https://github.com/latex-lsp/texlab"
repository = "https://github.com/latex-lsp/texlab"
documentation = "https://github.com/latex-lsp/texlab"
keywords = ["lsp", "server", "latex", "bibtex"]
categories = ["development-tools"]
exclude = ["tests/it/**", "*.snap"]

[[bin]]
name = "texlab"
test = false

[lib]
doctest = false

[dependencies]
anyhow = "1.0.72"
base-db = { path = "../base-db" }
citeproc = { path = "../citeproc" }
clap = { version = "4.3.15", features = ["derive"] }
commands = { path = "../commands" }
completion = { path = "../completion" }
completion-data = { path = "../completion-data" }
crossbeam-channel = "0.5.8"
definition = { path = "../definition" }
diagnostics = { path = "../diagnostics" }
dirs = "5.0.1"
distro = { path = "../distro" }
encoding_rs = "0.8.32"
encoding_rs_io = "0.1.7"
fern = "0.6.2"
folding = { path = "../folding" }
fuzzy-matcher = { version = "0.3.7", features = ["compact"] }
hover = { path = "../hover" }
itertools = "0.11.0"
log = "0.4.19"
lsp-server = "0.7.2"
lsp-types = "0.94.0"
notify = "6.0.1"
notify-debouncer-full = "0.2.0"
once_cell = "1.18.0"
parking_lot = "0.12.1"
parser = { path = "../parser" }
rayon = "1.7.0"
references = { path = "../references" }
regex = "1.9.1"
rename = { path = "../rename" }
rowan = "0.15.11"
rustc-hash = "1.1.0"
serde = "1.0.171"
serde_json = "1.0.103"
serde_regex = "1.1.0"
serde_repr = "0.1.14"
symbols = { path = "../symbols" }
syntax = { path = "../syntax" }
tempfile = "3.6.0"
threadpool = "1.8.1"

[dev-dependencies]
assert_unordered = "0.3.5"
criterion = { version = "0.5.1" }
insta = { version = "1.31.0", features = ["glob", "redactions", "json"] }

[[bench]]
name = "bench_main"
path = "benches/bench_main.rs"
harness = false
