[package]
name = "texlab"
description = "LaTeX Language Server"
version = "5.11.0"
license.workspace = true
readme = "README.md"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
homepage = "https://github.com/latex-lsp/texlab"
repository = "https://github.com/latex-lsp/texlab"
documentation = "https://github.com/latex-lsp/texlab"
keywords = ["lsp", "server", "latex", "bibtex"]
categories = ["development-tools"]
exclude = ["*.snap"]

[[bin]]
name = "texlab"
test = false

[lib]
doctest = false

[dependencies]
anyhow = "1.0.75"
base-db = { path = "../base-db" }
bibfmt = { path = "../bibfmt" }
citeproc = { path = "../citeproc" }
clap = { version = "4.4.10", features = ["derive"] }
commands = { path = "../commands" }
completion = { path = "../completion" }
completion-data = { path = "../completion-data" }
crossbeam-channel = "0.5.8"
definition = { path = "../definition" }
diagnostics = { path = "../diagnostics" }
distro = { path = "../distro" }
encoding_rs = "0.8.33"
encoding_rs_io = "0.1.7"
fern = "0.6.2"
folding = { path = "../folding" }
highlights = { path = "../highlights" }
hover = { path = "../hover" }
inlay-hints = { path = "../inlay-hints" }
line-index = { path = "../line-index" }
links = { path = "../links" }
log = "0.4.19"
lsp-server = "0.7.4"
lsp-types = "0.94.1"
notify = "6.1.1"
notify-debouncer-full = "0.3.1"
once_cell = "1.18.0"
parking_lot = "0.12.1"
parser = { path = "../parser" }
references = { path = "../references" }
regex = "1.9.5"
rename = { path = "../rename" }
rowan = "0.15.13"
rustc-hash = "1.1.0"
serde = "1.0.193"
serde_json = "1.0.108"
serde_regex = "1.1.0"
serde_repr = "0.1.17"
symbols = { path = "../symbols" }
syntax = { path = "../syntax" }
tempfile = "3.8.0"
threadpool = "1.8.1"

[dev-dependencies]
criterion = { version = "0.5.1" }

[[bench]]
name = "bench_main"
path = "benches/bench_main.rs"
harness = false
