[package]
name = "texlab"
description = "LaTeX Language Server"
version = "5.4.1"
license.workspace = true
readme = "README.md"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
homepage = "https://github.com/latex-lsp/texlab"
repository = "https://github.com/latex-lsp/texlab"
documentation = "https://github.com/latex-lsp/texlab"
keywords = ["lsp", "server", "latex", "bibtex"]
categories = ["development-tools"]
exclude = [
  ".gitattributes",
  ".gitignore",
  ".github/**",
  "tests/it/**",
  "*.snap",
  "texlab.1",
  "texlab.pdf",
  "texlab.tex",
]

[[bin]]
name = "texlab"
test = false

[lib]
doctest = false

[dependencies]
anyhow = "1.0.69"
chrono = { version = "0.4.23", default-features = false, features = ["std"] }
clap = { version = "4.1.6", features = ["derive"] }
crossbeam-channel = "0.5.6"
dashmap = "5.4.0"
dirs = "4.0.0"
encoding_rs = "0.8.32"
encoding_rs_io = "0.1.7"
fern = "0.6.1"
flate2 = "1.0.25"
flume = "0.10.14"
fuzzy-matcher = { version = "0.3.7", features = ["compact"] }
human_name = { version = "2.0.1", default-features = false }
isocountry = "0.3.2"
itertools = "0.10.5"
log = "0.4.17"
lsp-server = "0.7.0"
lsp-types = "0.94.0"
notify = "5.1.0"
once_cell = "1.17.1"
parser = { path = "../parser" }
regex = "1.7.1"
rowan = "0.15.10"
rustc-hash = "1.1.0"
serde = "1.0.152"
serde_json = "1.0.93"
serde_regex = "1.1.0"
serde_repr = "0.1.10"
smol_str = { version = "0.1.24", features = ["serde"] }
strum = { version = "0.24.1", features = ["derive"] }
syntax = { path = "../syntax" }
tempfile = "3.3.0"
thiserror = "1.0.38"
threadpool = "1.8.1"
titlecase = "2.2.1"
unicode-normalization = "0.1.22"

[dependencies.salsa]
git = "https://github.com/salsa-rs/salsa"
rev = "ef7c0f12c8159e7025316e959c26f6278a576fa5"
package = "salsa-2022"

[dev-dependencies]
assert_unordered = "0.3.5"
criterion = { version = "0.4.0" }
insta = { version = "1.28.0", features = ["glob", "redactions", "json"] }

[[bench]]
name = "bench_main"
path = "benches/bench_main.rs"
harness = false
