[package]
name = "syntax"
version = "0.0.0"
license.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
itertools = "0.11.0"
rowan = "0.15.11"

[lib]
doctest = false
